APP_ENV=development
APP_DEBUG=false
APP_URL=http://localhost/estagio-match

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=estagiomatch
DB_USERNAME=root
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Estágio Match"
